<app-navigation-bar></app-navigation-bar>
<app-search-form (searchProf)="search($event)"></app-search-form>
<div class="container">
    <div class="User" *ngIf="user">
        <div class="row">
            <div class="col-md-6">
                <h1>Here's my Github Profile</h1>
                <img src="{{user.avatar_url}}" alt="">
                <p class="card-body">Username: {{user.name}}</p>
            </div>
            <div class="col-md-6">
                <p>Background: {{user.bio}}</p>
                <p>Followers: {{user.followers}}</p>
                <p>Following: {{user.following}}</p>
                <p>Link to Contributors: {{user.contributors_url}}</p>
                <p>Link to Github: {{user.html_url}}></p>
                <p>Description: {{user.description}}</p>
                <p>Number of Repositories: {{user.public_repos}}</p>
            </div>
        </div>
    </div>
</div>