<app-navigation-bar></app-navigation-bar>
<app-search-form (searchProf)="search($event)"></app-search-form>
<div class="container">
    <div class="User" *ngIf="user">
        <div class="row">
            <div class="col-md-6">
                <h1>Here's my Github Profile</h1>
                <img src="{{user.avatar_url}}" alt="">
                <p class="card-body">Username: {{user.name}}</p>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                   <li class="list-group-items">Background: {{user.bio}}</li> 
                   <li class="list-group-items"><button class="followers">Followers: {{user.followers}}</button></li> 
                   <li class="list-group-items"><button class="following">Following: {{user.following}}</button></li> 
                   <li class="list-group-items">See Repositories: <a href="{{user.html_url}}" target="_blank"><button class="contributors">See Contributors</button></a></li>  
                   <li class="list-group-items">Link to Github: <a href="{{user.html_url}}" target="_blank"><button class="visit">Visit on Github</button></a></li> 
                   <li class="list-group-items">Description: {{user.description}}</li> 
                   <li class="list-group-items">Number of Repositories: {{user.public_repos}}</li> 
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>