img{
    border-radius: 50%;
}
.container-fluid{
    background-color: whitesmoke;
    padding: 20px;

}
h1{
    color: blue;
}
.list-group{
    margin-top: 60px;
    margin-left: 20px;
}
.list-group-items{
    list-style: none;
    border: solid white 2px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    color: blue;
    
}
.followers{
    border-radius: 5px;
    background-color: green;
    height: 30px;
    color: white;
    width: 150px;
    border: none;
}
.following{
    border-radius: 5px;
    background-color: red;
    height: 30px;
    color: white;
    width: 150px;
    border: none;
}
.contributors{
    border-radius: 5px;
    background-color: green;
    height: 50px;
    color: white;
    width: 200px;
    border: none;
}
.visit{
    border-radius: 5px;
    background-color: rgb(247, 193, 78);
    height: 50px;
    color: white;
    width: 200px;
    border: none;
}